@media only screen and (max-width: 767px) {
  main .banner {
    background: var(--main-font-color-2);
    background-image: url(../../../images/fone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
  }

  main .banner-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .banner-info {
    position: absolute;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    right: 30px;
  }

  .banner-logo {
    height: 100%;
    opacity: 20%;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .banner-info h1 {
    color: var(--main-font-color-2);
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: var(--font-xlg);
    margin: 0 0 10px 0;
  }

  .banner-info h2 {
    font-family: var(--main-font-family);
    color: var(--main-font-color-2);
    font-size: var(--font-md);
    margin: 15px 0px 15px 0px;
  }

  .button {
    margin-top: 15px;
    width: 150px;
    height: 41px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2px;
    color: var(--main-font-color-2);
    font-family: var(--main-font-family);
    font-size: var(--font-sm);
    transition: 0.3s;
  }
}
