.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 58px;
}

.image-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.icons-1 {
  background: var(--secondary-color);
}

.icons-2 {
  background: var(--third-color);
}

.icons-3 {
  background: var(--fourth-color);
}

.opportunity_colum_item {
  width: calc(100% / 3);
}

.services-info h4 {
  padding: 0 0 10px 0;
  color: var(--secondary-color);
}

.services-info p {
  width: 248px;
  font-size: 12px;
  opacity: 0.6;
  color: #000000;
  line-height: 17px;
  margin: 0 auto;
}
