@media only screen and (max-width: 767px) {
  header .logo img {
    width: 75%;
  }

  header menu li {
    padding: 15px 10px;
  }

  header menu a {
    font-size: var(--font-sm);
  }

  @media only screen and (max-width: 500px) {
    header {
      background-color: #1872f0;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
    }

    header .logo img {
      width: 55%;
    }

    header menu a {
      color: whitesmoke;
      font-size: var(--font-sm);
      text-decoration: none;
    }

    header menu li.active,
    header menu li:hover {
      border-bottom-color: whitesmoke;
    }
  }
}

/* Sub-menu */
@media only screen and (max-width: 767px) {
  menu li ul {
    position: absolute;
    display: none;
    top: 50px;
    left: 0;
  }

  menu li ul li {
    background: var(--secondary-color);
    border: 1px solid var(--main-font-color-2);
    width: 130px;
    text-align: left;
    padding: 5px 10px 10px 10px;
  }

  menu li ul li a {
    color: var(--main-font-color-2);
    font-size: var(--font-sm-mob);
    text-transform: none;
    margin: 0 auto;
  }

  menu li:hover ul {
    display: block;
    transition: all 0.5s ease;
    box-shadow: 1px 5px 15px -5px var(--main-font-color-2);
  }
}
